{% extends 'sustain/base.html' %}

{% block content %}
<div class='article'>
<table style='border-style: none;background-color: white;width: 50%;margin: auto;'>
    <tr style='border-style: none;background-color: white'>
    <td style='border-style: none;background-color: white'>
        <img src="/media/uploads/about_scmnow.jpg" alt ="Smiley face" height="350" width="auto">
    </td>
    <td style='border-style: none;background-color: white'>
        SCM-Now ist ein Projekt aus Leidenschaft für die Nachhaltigkeit. Mein Anspruch ist die Unterstützung von Unternehmen hinsichtlich der Transparenz in den Lieferketten. 
        Entstanden ist die Idee nach der Veröffentlichung des deutschem Lieferkettengesetzes.<br>
        Für mich steht dabei vorallem die einheitliche Darstellung der Daten für alle Unternehmen im Fokus. Im gegensatz zu einem SCM-System soll die Plattform eine Kollaboration
        aller Unternehmen in den unterschiedlichen Ländern sowie untereinander ermöglichen.
    </td>
    </tr>
</table>
<hr>
<table style='border-style: none;background-color: white;width: 50%;'>
    <tr style='border-style: none;background-color: white;'>
        <td style='border-style: none;background-color: white;'>
            <p style='font-style:oblique;font-weight: bold;'>Impressum</p>
            Sustain UG<br>
            Hamburger Straße 3, 20444 Hamburg<br>
            Tel.: +49 (0) 123456789<br>
            Mail: info@sustain.de<br>
            HRB Hamburg XXXXXX<br>
            USt-IDNr.: DE XX XX XX XXX
        </td>
    </tr>
    <tr style='border-style: none;background-color: white;'>
        <td style='border-style: none;background-color: white;'>
            <p style='font-style:oblique;font-weight: bold;'>Geschäftsführer</p>
                Adrian Schaub
        </td>
        
    </tr>
    <tr style='border-style: none;background-color: white;'>
        <td style='border-style: none;background-color: white;'>
            <p style='font-style:oblique;font-weight: bold;'>Verantwortlich für die Inhalte der Webseite</p>
            Sustain UG
        </td>
    </tr>
    <tr style='border-style: none;background-color: white;'>
        <td style='border-style: none;background-color: white;'> 
            Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für weiterführende Links. Für die Inhalte der verlinkten Seiten sind ausschließlich die jeweiligen Betreiber verantwortlich.
        </td>
    </tr>
    <tr style='border-style: none;background-color: white;'>
        <td style='border-style: none;background-color: white;'>
            <p style='font-style:oblique;font-weight: bold;'>Datenschutzbeauftragter</p>
            datenschutz@sustain.de
        </td>
    </tr>
</table>
</div>
{% endblock %}