{% extends 'sustain/base.html' %}
{% load sustaintags %}
{% block content %}    
    <div class="article" style="width: 50%;float:left">
        <a style="float:right;padding-top:5px;" href="/accountdetail/{{article.report.account.pk}}">
            <img src="/media/{{ article.report.account.logo }}" alt ="Smiley face" height="50" width="auto"> 
        </a>
        <h2>{{ article.name }}
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-secondary"><a style="color: black;" href="/articledetail/edit/{{article.pk}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                    </svg></a>
                </button>
            {% endif %}
        </h2>
            <p>{{ article.description|linebreaksbr }}</p>
            <hr>
            <p>Zugehöriger Bericht: <a href="/reportdetail/{{article.report.pk}}"> {{ article.report|linebreaksbr }}</a></p>
            <p>Berichtstyp: {{article.report.reporttype|linebreaksbr}}</p>
            <p>Erstellt von: <a href="/accountdetail/{{article.report.account.pk}}">{{ article.report.account.name|linebreaksbr }}</a></p>
            <hr>
    </div>
        <div style="width: 50%;float: right;padding-left: 25px">
            {% if user.is_authenticated %}
            <h3>Interne Kommentare</h3>
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-secondary" style="float: right;"><a style="color: black;" href="commentintern/new">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="auto" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                    </svg></a>
                </button>
            {% endif %} 
            <div class='Gallery'>
                    {% for commentsintern in article.internalcomments.all %}
                        <div>
                            <p style="font-size: 15">{{ commentsintern.description }}</p>
                            <strong style="font-size: 15">{{ commentsintern.createdby }}</strong>
                                    {% if user.is_authenticated %}
                                        <p><a style="color:black;"href="/commentintern/{{commentsintern.pk}}/up"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg></a></p> 
                                    {% endif %}                       
                                    <p style="font-size: 15">{% countpositive commentsintern.pk "Intern" as countpos1 %} {{countpos1}}</p>
                                    <p style="font-size: 15">{% countnegative commentsintern.pk "Intern" as countneg1 %} {{countneg1}}</p>
                                    {% if user.is_authenticated %}
                                        <p><a style="color:black;"href="/commentintern/{{commentsintern.pk}}/down"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg></a></p>
                                    {% endif %}
                        </div>
                    {% empty %} 
                        <p>Bisher keine internen Kommentare veröffentlicht.</p>
                    {% endfor %}
            </div>
                <br>
            {% endif %}

            <h3>Externe Kommentare</h3>
            {% if user.is_authenticated %}
            {% else %}
            <button type="button" class="btn btn-secondary" style="float: right;"><a style="color: black;" href="commentextern/new">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="auto" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg></a>
            </button>
            {% endif %}
            <div class='Gallery'>
                {% for commentsextern in article.externalcomments.all %}
                    <div>
                        <p style="font-size: 15">{{ commentsextern.description}}</p>
                        <strong style="font-size: 15">{{ commentsextern.createdby_unauth }}</strong>
                        {% if user.is_authenticated %}
                            <p style="font-size: 15"><a style="color:black;"href="/commentextern/{{commentsextern.pk}}/up"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                            </svg></a></p>
                        {% endif %}    
                        <p style="font-size: 15">{% countpositive commentsextern.pk "Extern" as countpos2 %} {{countpos2}}</p>
                        <p style="font-size: 15">{% countnegative commentsextern.pk "Extern" as countneg2 %} {{countneg2}}</p>
                        {% if user.is_authenticated %}
                            <p style="font-size: 15"><a style="color:black;"href="/commentextern/{{commentsextern.pk}}/down"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg></a></p>
                        {% endif %} 
                    </div>
                {% empty %}
                    <p>Bisher keine externen Kommentare veröffentlicht.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}