{% extends 'sustain/base.html' %}

{% block content %}
   
    {% for account in accounts%}
        <div class="article">
            <a style="float:right;padding-top:5px;" href="/accountdetail/{{account.pk}}">
                <img src="media/{{account.logo }}" alt ="No picture yet" height="50" width="auto">
            </a>  
            <h2><a href="/accountdetail/{{account.pk}}">{{account.name}}</a></h2>
           
            <div class='gallery'>
                {% for report in account.reports.all %}
                    {% for article in report.articles.all %}
                        <div>
                            <a href="/articledetail/{{article.pk}}">
                                <img src="media/{{article.picture }}" alt ="No picture yet" height="275" width="auto">
                            </a>
                            <h3><a style='color:black' href="/articledetail/{{article.pk}}">{{ article.name }}</a></h3>
                        </div>
                    {% empty %}
                        <p> Kein Artikel vorhanden</p>
                    {% endfor %}
                {% empty %}
                    <p> Kein Bericht vorhanden</p>
                {% endfor %}
            </div>

        </div>
    {% endfor %}
{% endblock %}