{% extends 'sustain/base.html' %}

{% block content %}
    {% for article in articles %}
        
              
        <div class="article">
            <a style="float:right;padding-top:5px;" href="/accountdetail/{{article.report.account.pk}}">
                <img src="media/{{ article.report.account.logo }}" alt ="Smiley face" height="50" width="auto">
            </a>  
            <h2><a href="/articledetail/{{article.pk}}">{{ article.name }}</a></h2>
            <div class="date">
                {{ article.createdon }}
            </div><br>
            <p>{{ article.description|linebreaksbr }}</p>
            <hr>
            <p>Zugehöriger Bericht:<a href="/reportdetail/{{article.report.pk}}"> {{ article.report|linebreaksbr }}</a></p>
            <p>Berichtstyp:{{article.report.reporttype|linebreaksbr}}</p>
            <p>Erstellt von: <a href="/accountdetail/{{article.report.account.pk}}">{{ article.report.account.name|linebreaksbr }}</a></p>
        </div>
    {% endfor %}
{% endblock %}