* {
    font-family:Arial;
}

.page-header {
    background-color:  #003008;
    margin-top: 0;
    
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.date {
    color: #636363;
}

.save {
    float: right;
}

.article-form textarea, .article-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.article {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-inline: 25px;
    border: rgba(5, 70, 5, 0.103);
    border-style:solid;
}

.article h2 a, .article h2 a:visited {
    color: #000000;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #4b4949;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #003008ef;
    visibility:inherit;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 40px;
  }
  
li a:hover:not(.active) {
    background-color:#054b11;
    color: white;
  }
  
.active {
    background-color: #4CAF50;
  }
.ribboncontent {
    color: white;
  }

.report {
    padding: 5px;
}
.gallery {
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap;
  }


  .gallery > DIV {
    margin:2px;
    padding:25px;
    background:rgb(247, 247, 247);
    border:1px solid rgb(218, 211, 211);
    font-size:24pt;
    color:#666;
    width: 275px;
    height: auto;
    margin: 5;
  }

.base {
    margin-top: 105px;
    margin-left: auto; 
    margin-right:auto;
    width: 95%;
}